:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}

#poweredBy {
    float: right;
    margin: 0.8rem;
}

.controls {
    width: 60%;
    margin: 0.8rem;
}

.no-border {
    border: 0px solid #ced4da;
}