//Menu Hover
.mouse-hover { cursor: pointer; }
.mouse-hover:hover { background-color: #f5f5f5; }

//Link Hover
.navigation-hover { cursor: pointer; }

//Margin
.margins { margin: 2rem; }
.header-margin-top {margin-top: 2rem !important; }
.margins-sides { width: 40%; margin: 0 auto;}
.margin-top {margin-top: 0.5rem !important; }

//Others
.timestamp { font-size: 12px; margin-top: 0.3rem; }