.mouse-hover { cursor: pointer; }
.mouse-hover:hover { background-color: #f5f5f5; }

.navigation-hover { cursor: pointer; }

.light {
    color: #fff !important
}

.margins {
    margin: 2rem;
}

.no-border {
    border: 0px solid #ced4da;
}